version: "3.8"

services:
  web:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - web_data:/usr/share/nginx/html
    deploy:
      resources:
        limits:
          memory: 512M
      restart_policy:
        condition: on-failure

volumes:
  web_data:
